* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
  color: #323232;
}

h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
}
h4 {
  font-size: 18px;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
p {
  margin: 0;
  padding: 0;
  color: #999;
  line-height: 25px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.line {
  position: relative;
}

.line:after {
  content: "";
  border-bottom: 1px solid #e0e0e0;
  width: 100%;
  position: absolute;
  bottom: -85px;
  left: 0;
}

.header {
  background: url(../img/background.jpg) no-repeat center top/ cover fixed;
  height: 100vh;
}
.header:before {
  content: "";
  width: 100%;
  border-bottom: 1px solid #a1a1a1;
  opacity: 0.5;
  position: absolute;
  top: 100px;
}

.nav {
  padding: 40px 0;
  display: flex;
  justify-content: flex-end;
}
.nav__item a {
  margin-right: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  position: relative;
}
.nav__item_last a {
  margin-right: 0;
}

.nav a:hover:before {
  content: "";
  border-bottom: 2px solid #fff;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 57px;
}
.hamburger {
  display: none;
}

.offer {
  text-align: center;

  width: 829px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.offer p {
  font-weight: 500;
  color: #fff;
}
.offer h1 {
  color: #fff;
  font-size: 48px;
  font-weight: 800;
}

.btn {
  background: #4985ff;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  color: #fff;
  padding: 15px 36px;
}
.offer a {
  margin-top: 50px;
}

.offer a:hover {
  background: #4e81e6;
}

/* section services */

.services {
  text-align: center;
  padding: 110px 0;
}
.services h2 {
  width: 739px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.services-description {
  width: 730px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.services ul li p {
  font-size: 14px;
  line-height: 22px;
}
.services-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
}
.services-list__item {
  display: flex;
}

.services-list__img-wrapper:after,
.services-list__img-wrapper:before {
  content: "";
  border-radius: 50%;
  position: absolute;
}

.services-list__img-wrapper:after {
  border: 1px solid #4985ff;
  width: 90px;
  height: 90px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.services-list__img-wrapper:before {
  border: 1px solid #e0e0e0;
  width: 110px;
  height: 110px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.services-list__img-wrapper {
  display: block;
  width: 112px;
  position: relative;
  height: 112px;
}
.services-list__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.services-list__services-text {
  width: 222px;
  margin-left: 5px;
  padding-top: 30px;
}

.services-list__services-subtext {
  padding-top: 12px;
}
.services-button {
  margin-top: 55px;
}

/* standards section */

.standards {
  padding-top: 100px;
  padding-bottom: 70px;
  background-color: #f6f6f8;
}

.standards p {
  color: #999;
}

.standards-intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 70px;
}
.standards-intro__text {
  width: 490px;
  padding-top: 52px;
}

.standards-intro__text p {
  padding-top: 40px;
  padding-bottom: 30px;
}
.btn-more {
  color: #4985ff;
  text-decoration: underline;
  font-weight: 500;
}

.standards-intro:after {
  bottom: -90px;
}

.standards-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 140px;
  padding-top: 160px;
}
.standards-list__project {
  display: flex;
}
.standards-list__item span {
  padding-left: 20px;
  font-size: 36px;
  font-weight: 400;
  line-height: 53px;
}

/* third demonstration section */

.demonstration {
  padding-bottom: 172px;
}
.demonstration::before {
  content: "";
  position: absolute;
  background-color: #504dc2;
  height: 55%;
  width: 100%;
  z-index: -1;
}

.our-work {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
}
.our-work__title {
  color: #fff;
  width: 540px;
}
.more-list__link {
  height: fit-content;
}
.more-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 27px;
  padding-top: 70px;
  position: relative;
}
.more-list__item h4 {
  padding: 30px 0;
}

.more-list__number {
  color: #4985ff;
}
.more-list__item p {
  color: #999;
  width: 350px;
  padding-bottom: 30px;
}

/* our-project section */
.our-project {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 130px;
}
.our-project-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
.our-project__title {
  color: #000;
  display: inline-block;
}
.our-project__subtitle {
  padding-top: 50px;
  padding-bottom: 70px;
  width: 730px;
  margin: 0 auto;
}
.our-project__button {
  margin-top: 100px;
}

/* our-works section */
.our-works {
  display: flex;
  justify-content: center;
  text-align: center;
}

.our-works::before {
  content: "";
  position: absolute;
  background: url(../img/bg-2.jpg) no-repeat center top / cover;
  height: 65%;
  width: 100%;
  z-index: -1;
}
.our-works h2 {
  color: #fff;
  padding-top: 70px;
}
.our-works p {
  color: #fff;
  padding-top: 30px;
}
.video {
  position: relative;
  margin-top: 70px;
}
.video__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #fff;
  border-radius: 200px;
  padding: 20px 29px 20px 40px;
  display: flex;
  align-items: center;
}
.video__img-wrapper {
  padding-right: 21px;
}

.video__img-wrapper img {
  width: 58px;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: #fff;
}
.video__button:hover {
  background-color: #fff;
  color: #4985ff;
  transition: 0.3s;
}
.video__button:hover .video__img-wrapper img {
  border-color: #4985ff;
}
/* shipment section */
.shipment {
  padding-top: 170px;
  padding-bottom: 85px;
  text-align: center;
}
.mailing__subtitle {
  margin-top: 20px;
  margin-bottom: 30px;
}
.mailing__form {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}
.mailing__input {
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgb(111 111 111 / 25%);
  border-radius: 30px;
  outline: none;
  padding: 15px 170px 15px 33px;
  width: 500px;
}
.mailing__input::placeholder {
  font-size: 13px;
}
.mailing__button {
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 0px 30px 30px 0px;
  position: absolute;
  right: 0;
  height: 100%;
}
.mailing__privacy-policy {
  margin-top: 35px;
}
/* footer */
.footer {
  padding-top: 70px;
  padding-bottom: 30px;
}
.footer-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 110px;
  position: relative;
}
.footer-list a {
  color: #999;
}
.footer-list__internal-item {
  display: flex;
  align-items: center;
  padding-bottom: 27px;
}
.footer-list__internal-item_last {
  padding-bottom: 0;
}
.footer-list__item h4 {
  padding-bottom: 35px;
  white-space: nowrap;
}
.footer-list__internal-item img {
  padding-right: 15px;
}
.footer-list__contacts-text {
  white-space: nowrap;
}
.footer-list__contacts-link {
  white-space: nowrap;
}

.label {
  padding-top: 115px;
  text-align: center;
}
